/**{padding: 0;margin: 0}*/
.overflow{overflow: hidden;}
.float-l{float: left;}
.float-r{float: right;}
.clear{clear: both;}

/*表单作业的开始*/
.box1{
    width: 800px;
    height: 600px;
    border: 1px solid gray;}
.box{
    width: 800px;
    height: 200px;
    overflow: hidden;}
.title11{
    width: 800px;
    height: 35px;
    line-height: 35px;
    background-color:#FCFCFC;
    text-indent: 2em}
.background-img11{background:url("../img/biaodan/tupian_09.jpg") no-repeat right center;}
.biaodan{
    width: 430px;
    height: 165px;
    font-size: 18px;}
.biaodan span{color: red;}
.right{text-align: right;margin-top:33px;}
.width{width: 350px;}
.biaodan13{
    width:800px;
    height:60px;
    font-size: 18px;}
.biaodan13 span{color: red}
.box13{width: 800px;
    height: 65px;}
.center{text-align: center}
.width12{width: 430px ;}
.zc{
    width: 220px;
    line-height: 30px;
    background-color:#D30303;
    color: #FFFFFF;
    text-align:center;
    margin-top: 21px;
    float: right;}
.width13{width: 463px;}
/*1表单作业的结束*/

/*2表单作业的开始*/
/*2表单作业1的开始*/
.top2{
    width: 1000px;
    height:44px;
    margin-top: 50px;  }
.hot2{
    height: 44px;
    line-height: 35px;
    font-size: 24px;
    font-family: "Microsoft YaHei";}
.fankui{
    line-height:37px;
    font-size:14px;
    color: #2E5795;
    ont-family: "Microsoft YaHei";}
.shuoming{
    width: 1000px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #5784B5;
    text-indent: 1em;}

/*2表单作业2的开始*/
.ljze{
    width: 720px;
    height: 550px;}
.buttom2{
    width: 450px;
    height: 35px;
    line-height: 35px;
    margin:30px auto;}
.buttom2-zc{
    width: 150px;
    height: 35px;
    font-size: 16px;
    font-family: "Microsoft YaHei";}
.bule2{
    width: 150px;
    height: 35px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight:bold;
    background-color: #205197;}
.background-img2{
    background: url("../img/biaodan/tupian_09.jpg") no-repeat 3px center;
    }
.right-dq{
    width: 600px;
    text-align: right;
    line-height: 22px;
    font-family: "Microsoft YaHei";}
.ljze span{color: red;}
.ljze a{color:#1C4690;text-decoration: none;}
.yzm2{
    width: 600px;
    height: 53px;
    line-height: 53px;}
.left-yidong{
    margin-left:188px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #9F9F9F;}
.top-yidong{margin-top: 15px;}
.top-yidong2{margin-top: 5px;}

/*2表单作业3的开始*/
.right-box2{
    width: 280px;
    height: 550px;
    background-color: #FCFCFC;}
.right-p21{
    margin-top: 100px;
    width: 280px;
    text-align: center;
    color: #1C4690;
    font-size: 24px;
    font-family: "Microsoft YaHei"}
.right-p23{
    width: 272px;
    text-align: center;
    color: #1C4690;
    font-size: 16px;
    font-family: "Microsoft YaHei" ;}
.right-img{
    width: 280px;
    text-align: center;}
.right-p22{
    font-family: "Microsoft YaHei";
    margin-top: 10px;
    text-align: center;
    width: 280px;
    color: #1C4690;
    font-size: 14px;}
.right-biao{
    font-family: "Microsoft YaHei";
    margin-top: 30px;
    margin-left: 43px;
    width: 280px;
    color: gray;
    font-size: 16px;}
/*2表单作业的结束*/

/*3表单作业的开始*/
/*3表单作业1的开始*/
.box3{
    width: 1039px;
    height:830px;
    border: 1px solid gray;
    margin-top: 50px;}
.box31{
    width: 1038px;
    height: 69px;
    border-bottom: 1px solid #F3F3F3;}
.left-p31{
    line-height:69px;
    font-family: "Microsoft YaHei";
    font-size: 24px;}
.right-p32{
    height: 69px;
    font-family: "Microsoft YaHei";
    padding-top: 10px;}
.right-p32 a{color:gray;font-size: 14px;}
.css31{
    color:#EE0088;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;}
.css32{color:#FD6F0F;}
.css33{color: #E76B8E;font-size:20px;}

/*3表单作业2的开始*/
.box32{
    width: 750px;
    border-right:1px dashed #F3F3F3;}
.width31{
    width: 500px;
    text-align: right;
    margin-top: 25px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-family: "Microsoft YaHei";}
.width31 span{color: red;}
.heigeh31{height: 26px;}
.left-yidong31{
    margin-left:239px;
    margin-top: 25px;
    font-family: "Microsoft YaHei";}
.left-yidong32{
    margin-left: 171px;
    margin-top: 25px;
    font-family: "Microsoft YaHei";}
.left-yidong32 span{color: #12ADE0;}
.box33{
    width: 261px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Microsoft YaHei";
    font-size: 22px;
    background-color: #EE3388;}
/*3表单作业3的开始*/
.footer3{width: 1038px;text-align: center;}
/*3表单作业的结束*/

/*4表单作业的开始*/
.box4{
    width:300px;
    margin-top: 50px;
    background-color:#2C0A4B;
    border: solid 1px gray;}
.title4{
    line-height: 60px;
    font-size: 24px;
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;}
.p4{
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 18px;}
.p41{
    width: 240px;
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    line-height: 54px;
    background-color: #FF0F0F;
    border-radius:8px;
    margin: 30px auto;}
.right-yidong4{
    width:280px ;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:right}
.left-yidong4{
    font-size: 18px;
    font-family: "Microsoft YaHei";
    margin-left: 58px;
    margin-top: 30px;
    margin-bottom: 30px;}
.heigeh4{height: 24px;}
/*4表单作业的结束*/